################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskApis/.vs/TaskApis/FileContentIndex
/TaskApis/.vs/TaskApis/v18
